@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
body {
    color: #2A4747;
    background-color: white;
    font-size: 16px;
}
html.dark body {
    background-color: black;
    color: white;
}
