---
import BaseLayout from "../layouts/BaseLayout.astro";
import FormButton from "../components/FormButton";

const pageTitle = "Contact Page";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="bg-[#F2E8CF] w-full py-16">
    <h1 class="text-center text-5xl font-bold">Nous Contacter</h1>
    <p class="text-center mt-8 text-lg">
      Vous souhaitez <span style="color: #D57A66;">
        réaliser votre site web
      </span> mais n’avez pas le temps de le coder de zéro ? <br />
      Contactez-nous et nous ferons le site de vos rêves.
    </p>
  </div>
  <div class="my-16"></div>
  <div class="flex justify-center items-center">
    <form
      id="contact-form"
      class="bg-[#4A6670] p-8 rounded-lg w-full max-w-4xl mb-40"
    >
      <input type="hidden" name="contact_number" value="12345" />
      <div class="flex space-x-8 mb-4">
        <div class="w-1/2">
          <label class="text-white">Nom :</label>
          <input
            type="text"
            name="nom"
            placeholder="Votre nom"
            class="w-full p-2 rounded mb-4"
            required
          />
        </div>
        <div class="w-1/2">
          <label class="text-white">Prénom :</label>
          <input
            type="text"
            name="prenom"
            placeholder="Votre prénom"
            class="w-full p-2 rounded mb-4"
            required
          />
        </div>
      </div>
      <div class="flex space-x-8 mb-4">
        <div class="w-1/2">
          <label class="text-white">Nom projet/entreprise :</label>
          <input
            type="text"
            name="projet"
            placeholder="Nom de votre projet/entreprise"
            class="w-full p-2 rounded mb-4"
            required
          />
        </div>
        <div class="w-1/2">
          <label class="text-white">Email :</label>
          <input
            type="email"
            name="email"
            placeholder="Votre email"
            class="w-full p-2 rounded mb-4"
            required
          />
        </div>
      </div>
      <div class="mb-4">
        <label class="text-white">Message :</label>
        <textarea
          name="message"
          cols="30"
          rows="10"
          placeholder="Votre message"
          class="w-full p-2 rounded mb-4"
          required></textarea>
      </div>
      <div class="flex justify-center">
        <FormButton label="Envoyer" type="submit" />
      </div>
    </form>
  </div>

  <div
    id="popup-overlay"
    class="hidden fixed inset-0 bg-black bg-opacity-50 backdrop-blur-md flex justify-center items-center z-50"
  >
    <div class="bg-white p-8 rounded-md shadow-md w-96">
      <h2 id="popup-message" class="text-xl font-semibold text-center"></h2>
      <div class="mt-4 text-center">
        <button
          id="popup-close"
          class="bg-[#D57A66] text-white px-4 py-2 rounded">Fermer</button
        >
      </div>
    </div>
  </div>

  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
  ></script>
  <script type="text/javascript">
    (function () {
      emailjs.init("mK4gf-7vVImGgewy6");
    })();

    window.onload = function () {
      document
        .getElementById("contact-form")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          emailjs.sendForm("service_zspxt3n", "template_nuc5iss", this).then(
            () => {
              showPopup("Message envoyé avec succès !");
            },
            (error) => {
              showPopup("Échec de l'envoi. Veuillez réessayer.");
              console.error("ERROR : ", error);
            }
          );
        });

      function showPopup(message) {
        document.getElementById("popup-message").textContent = message;
        const popupOverlay = document.getElementById("popup-overlay");
        popupOverlay.classList.remove("hidden");
        popupOverlay.classList.add("show");

        document
          .getElementById("popup-close")
          .addEventListener("click", function () {
            Redirect();
          });
      }

      function Redirect() {
        window.location.href = "/";
      }
    };
  </script>
</BaseLayout>