---
import './index.css';
import Header from '../components/Header.jsx';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "home";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container-home-parent">
    <div class="container-home">
      <div class="intro">
        <span class="intro-title">Nous créons l’avenir</span>
        <span class="intro-description">
          Zenkod est une agence numérique à service complet spécialisée dans la conception de sites web.
        </span>
        <div class="learn-more">
          <span>En savoir plus</span>
        </div>
      </div>
      <span class="agency-description">
        Notre agence mène de nombreux projets chaque année pour une variété de clients, incluant la création et la refonte de sites web. Pour vous donner un aperçu, voici une sélection de sites web et d'applications que nous avons réalisés.
      </span>
      <div class="projects">
        <div class="project-card">
          <div class="project-image">
            <img src="https://i.imgur.com/1tMFzp8.png" alt="Project Image" />
          </div>
          <span class="project-description">Project<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
        </div>
        <div class="project-card">
          <div class="project-image">
            <img src="https://i.imgur.com/1tMFzp8.png" alt="Project Image" />
          </div>
          <span class="project-description">Project<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
        </div>
        <div class="project-card">
          <div class="project-image">
            <img src="https://i.imgur.com/1tMFzp8.png" alt="Project Image" />
          </div>
          <span class="project-description">Project<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>



