---
import '../styles/index.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectCards from '../components/ProjectCards';

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container-home-parent">
    <div class="container-home">
      <div class="intro-home">
        <span class="intro-title-home">Nous créons l’avenir</span>
        <div class="intro-description-home">
          <span class="text-zenkod-home">Zenkod</span>
          <span>est une agence numérique à service complet spécialisée dans la conception de sites web.</span>
        </div>
        <div class="w-40 learn-more transform transition-all duration-300 hover:scale-110 cursor-pointer">
          <span class="text-know-home">
              <a
                  href="/about"
                  class="link-know-home"
              >
                  En savoir plus
              </a>
          </span>
        </div>
      </div>
      <span class="txt-agency-description-home">Notre agence mène de nombreux projets chaque année pour une variété de clients, incluant la création et la refonte de sites web. Pour vous donner un aperçu, voici une sélection de sites web et d'applications que nous avons réalisés.</span>
      <ProjectCards client:load />
    </div>
  </div>
</BaseLayout>
