---
import './index.css';
---

<head>
  <meta charset="UTF-8">
  <title>Votre Titre</title>
</head>

<div class="container">
  <div class="header">
    <div class="nav">
      <img src="https://i.imgur.com/1tMFzp8.png" alt="Logo" class="logo" />
      <span class="nav-item">Services</span>
      <span class="nav-item">À propos</span>
      <div class="contact-button">
        <span>Contact</span>
      </div>
    </div>
    <div class="intro">
      <span class="intro-title">Nous créons l’avenir</span>
      <span class="intro-description">
        Zenkod est une agence numérique à service complet spécialisée dans la conception de sites web.
      </span>
      <div class="learn-more">
        <span>En savoir plus</span>
      </div>
    </div>
    <span class="agency-description">
      Notre agence mène de nombreux projets chaque année pour une variété de clients, incluant la création et la refonte de sites web. Pour vous donner un aperçu, voici une sélection de sites web et d'applications que nous avons réalisés.
    </span>
    <div class="projects">
      <div class="project-card">
        <div class="project-image">
          <img src="https://i.imgur.com/1tMFzp8.png" alt="Project Image" />
        </div>
        <span class="project-description">Project<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
      </div>
      <div class="project-card">
        <div class="project-image">
          <img src="https://i.imgur.com/1tMFzp8.png" alt="Project Image" />
        </div>
        <span class="project-description">Project<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
      </div>
      <div class="project-card">
        <div class="project-image">
          <img src="https://i.imgur.com/1tMFzp8.png" alt="Project Image" />
        </div>
        <span class="project-description">Project<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
      </div>
    </div>
    <div class="footer">
      <div class="footer-content">
        <span>Presta Days</span>
        <span>Services</span>
        <span>Entreprise</span>
        <span>Réseaux sociaux</span>
      </div>
      <div class="footer-info">
        <span>prestadays@gmail.com</span>
        <span>Lorem Ipsum</span>
        <span>Qui sommes-nous ? Carrière Contact</span>
        <span>Twitter LinkedIn Instagram GitHub</span>
      </div>
    </div>
  </div>
</div>