.container {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
}

.header {
  height: 765px;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  padding-top: 5px;
}

.intro {
  background: #F2E8CF;
  padding: 72px 0;
  margin-bottom: 16px;
}

.intro-title {
  color: #2A4747;
  font-size: 24px;
  margin: 0 195px 14px;
}

.intro-description {
  font-size: 16px;
  margin: 0 89px 12px;
}

.learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #D57A66;
  border-radius: 10px;
  padding: 5px;
  margin: 0 240px;
}

.agency-description {
  color: #2A4747;
  font-size: 16px;
  margin: 0 23px 17px;
}

.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px 14px;
}

.project-card {
  width: 180px;
  display: flex;
  flex-direction: column;
}

.project-image {
  height: 250px;
  background: #4A6670;
  border-radius: 10px;
  border: 5px solid #D57A66;
  padding: 0 40px;
}

.project-image img {
  height: 100px;
  margin-top: 16px;
  object-fit: fill;
}

.project-description {
  color: #FFFFFF;
  margin-top: -123px;
  margin: 0 17px;
}