---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

type BaseLayoutProps = {
    pageTitle: string;
};

const props = Astro.props;
---
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/logo_zenkod.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preload" href="/fonts/Vesper/VesperLibre-Regular.ttf" as="font" type="font/ttf" crossorigin />
    <link rel="preload" href="/assets/logo_line.png" as="image" />

    <title>{props.pageTitle}</title>
</head>
<body>
<Header />
<slot />
<Footer />
</body>
</html>